@font-face {
    font-family: "PF DinDisplay Pro";
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "PF DinDisplay Pro";
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "PF DinDisplay Pro";
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

@import "mixins";
@import "pages/header";
